$header-height:95px;
$header-bg-color:yellow;
$logo-bg-color:rgb(255, 255, 255);
$nav-bg-color:rgb(255, 255, 255);
$search-bg-color:rgb(255, 255, 255);
$account-bg-color:rgb(255, 255, 255);
$logo-image-width:76px;
$logo-image-height:51px;